body {
  background-color: #070f1c;
}

.root {}

.navbar {
  display: flex; /* Use flexbox to align items horizontally */
  align-items: center; /* Vertically center items */
  margin: 30px 0 0 120px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Set a higher z-index to ensure it's above other content */
  animation: slideDown 1s forwards;
}
.cont {
  background-color: #070f1c;
  min-height: 100px;
  display: flex;
  align-items: center;
  position: fixed;
  top: -100px; /* Updated top position to hide initially */
  left: 0;
  width: 100%;
  z-index: 1000;
  animation: slideDown 1s forwards; /* Animation for cont to slide down */
}

@keyframes slideDown {
  from {
      top: -100px; /* Initial hidden position */
  }
  to {
      top: 0; /* Sliding down to its default position */
  }
}

.logo{
  margin-right: -700px;
  min-width: none;
}

.lottie-container {
  flex: 1;
}

.navlinks {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  margin-right: 25px;
  font-weight: bold;
  color: grey;
  font-size: 1em;
}

.navbutton{
  border: none;
  display: inline;
  margin-left: auto;
  margin-right: 120px;
  height: 65px;
  width: 130px;
  font-weight: bold;
  color: #296bd6;
  font-size: 0.9em;
  background-color: #1d223b;
  border-radius: 10px;
}
.navbuttonn{
  border: none;
  display: inline;
  margin-right: 120px;
  height: 65px;
  width: 130px;
  font-weight: bold;
  color: #296bd6;
  font-size: 0.9em;
  background-color: #1d223b;
  border-radius: 10px;
  margin-left: 130px; 
  margin-top: 10px;
}

.navbutton:hover{
  background-color: #296bd6;
  color: white;
}

.text-container {
  display: inline; /* Make the text container inline so it aligns vertically with the image */
}

a:active {
  color: blue;
}

a:hover {
  color: white;
}

h1{
  color: white;
}

.disptext{
  margin-left: 130px;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 4em;
  font-weight: lighter;
  margin-top:10px;
  margin-bottom: 10px;
}
.disptextt{
  margin-left: 130px;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 4em;
  font-weight: lighter;
  margin-top:10px;
  margin-bottom: 10px;
}
.disptextz{
  margin-left: 130px;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  font-weight: lighter;
  margin-top:10px;
  margin-bottom: 10px;
  color: grey;
  min-width: 400px;
}
.text-with-animation {
  display: flex;
  align-items: center;
}

.tab{
  display: flex;
  align-items: center;
  max-width:500px;
  margin-left:15px;
}
.headline{
  color:#959696;
  font-size:2em;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
}
.description{
  color:grey;
  font-size:1.3em;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
.tabbutton.active{
  background-color: #0f1b2f;
  border-left: 10px solid #00685d;
}
.tabbutton:hover{
  background-color: #0f1b2f;
}
.tabbutton{
  background-color: #070f1c;
  text-align: left;
  border: none;
  padding: 20px;
  margin-left: 30%;
}
.text-content {
  flex: 1;
}
.tabswithdesc{
  display: flex;
}
.desc{
  padding: 100px 60px 60px 60px; 
  margin-right: 100px;
  background-color: #040c15;
  border-radius: 5%;
  min-width: 350px;
}
.lottie-container {
  width: 30%; /* Adjust as needed */
  min-width: 200px;
  max-width: 650px;
  padding-top:20px;
}
.descriptionContent {
  display: none; /* Hide all description divs by default */
}

#desc1 {
  display: block; /* Show the first description */
}

.container{
  width: 400px;
  height: 8px;
  border-radius: 20px;
  background-color: #1d223b;
  border: 1px solid #000;
  position: relative;
  margin: 0 0 0 130px;
}

.fill-bar{
  width: 0;
  height: 100%;
  background-color: #3498db;
  position: absolute;
  top: 0;
  left: 0;
  animation: fillAnimation 6s linear infinite;
  border-radius: 20px;
}
.logo img {
  max-width: 100%; /* Ensure the image doesn't exceed its container */
}

.headlinee{
  color:#ff005d;
  font-size:4em;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-bottom: 20px;
}
.descriptionn{
  color:grey;
  font-size:1.3em;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
.aboutus{
  color:grey;
  font-size:1.2em;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight:light;
  padding: 20px 200px 50px 200px;
}
.sometblue {
  background: linear-gradient(to right, #46a2ff, #0047ab);
  transition: background 0.3s;
  max-width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  display: flex;
  padding: 50px 0 50px 100px;
  align-items: center;
  animation: colorShift 15s linear infinite; /* Animating the gradient */
}
@keyframes colorShift {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}
.whitebold{
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  font-size: 1.5em;
  flex: 1;
}
.nav-toggle {
  display: none;
}

@keyframes fillAnimation {
            0% {
                width: 0;
            }
            100% {
                width: 100%;
            }
        }

        

        @media (max-width: 768px) {
          body, html {
            justify-content: center;
            align-items: center;
        }
          .disptext{
            font-size:2em;
            text-align: center;
            margin: auto;
            margin-bottom: 20px;
          }
          .sometblue{
            display:block;
            padding-left: 20px;
            text-align: center;
          }
          .sometblue.navbutton{
            margin-left: 30px !important;
          }
          .disptextt{
            margin: auto;
            margin-bottom: 20px;
            font-size: 2em;
            text-align: center;
          }
          .disptextz{
            margin-left:10px;
            margin-right:10px;
            font-size: 1em;
            text-align: justify;
            min-width: 250px;
          }
          .contdisc{
            margin: auto;
          }
          .container{
            margin:auto;
            width:250px;
            margin-bottom: 20px;
          }
          .navbar {
            flex-direction: column;
            align-items: center;
            margin: 30px 0;
        }
        .text-with-animation{
          align-items: center;
          text-align: center;
        }
        .lottie-container{
          display: none;
        }
        .logo {
            margin: 0 0;
            text-align: left;
        }
        .logo img {
          width: 150px; /* Adjust the size as needed to prevent further shrinking */
      }

      .tab{
        display: flex;
        align-items: center;
        max-width:500px;
        margin-left:10px;
      }
      .headline{
        color:#959696;
        font-size:2em;
        font-family: 'Open Sans', sans-serif;
        font-family: 'Roboto', sans-serif;
      }
      .description{
        color:grey;
        font-size:1.3em;
        font-family: 'Open Sans', sans-serif;
        font-family: 'Roboto', sans-serif;
        text-align: center;
      }
      .tabbutton:active{
        background-color: #0f1b2f;
        border-left-color:#00685d;
        border-left: 10px;
      }
      .tabbutton:hover{
        background-color: #0f1b2f;
      }
      .tabbutton{
        background-color: #070f1c;
        text-align: left;
        border-style: none;
        padding: 20px 20px 20px 20px;
      }
    
        nav {
            display: none;
            width: 100%;
            text-align: center;
            background-color: #070f1c;
        }
    
        .navlinks {
            display: block;
            margin: 15px 0;
            text-align: center;
        }
    
        .navbutton {
            display: block;
            margin: 15px auto;
        }
        .navbuttonn {
          display: block;
          margin: 15px auto;
      }
        .nav-toggle {
            display: none;
        }
    
        .nav-toggle-label {
            cursor: pointer;
            padding: 15px 20px;
            position: relative;
            margin-left:150px;
        }
      
          .nav-toggle-label span {
              background: #fff;
              display: block;
              height: 2px;
              position: relative;
              transition: background 0.2s ease;
              width: 25px;
          }
      
          .nav-toggle-label span:before,
          .nav-toggle-label span:after {
              background: #fff;
              content: '';
              display: block;
              height: 100%;
              position: absolute;
              transition: top 0.2s ease, transform 0.2s ease;
              width: 100%;
          }
      
          .nav-toggle-label span:before {
              top: -10px;
          }
      
          .nav-toggle-label span:after {
              top: 10px;
          }
      
          #nav-toggle:checked + nav {
              display: block;
          }
      
          #nav-toggle:checked + .nav-toggle-label span {
              background: transparent;
          }
      
          #nav-toggle:checked + .nav-toggle-label span:before {
              top: 0;
              transform: rotate(45deg);
          }
      
          #nav-toggle:checked + .nav-toggle-label span:after {
              top: 0;
              transform: rotate(-45deg);
          }
          .tabswithdesc{
            display:block;
          }
          .tabbutton{
            margin-left:5px;
          }
          .aboutus{
            padding: 10px 10px 10px 10px;
            margin-bottom: 30px;
            text-align: justify;
          }
          .mobile-nav{
            display:flex;
          }
      } 
             
